/* Enter your custom styles here */

.sapFDynamicPageContentFitContainer {
    padding: 0rem 0rem 0rem 0rem !important;
}

.sapFDynamicPageContent {
    padding: 0rem 0rem 0rem 0rem !important;
}

.ZZTextCenter {
    text-align: center !important;
}


/*.sapMBtnIcon {*/


/*    line-height: 1.375rem !important;*/


/*}*/

.ZZTextLinkLike {
    /*text-decoration:underline !important;*/
    color: #0070b1 !important;
}

.LargerLabel {
    font-size: 24px !important;
}

.Size18Label {
    font-size: 18px !important;
}

.NoPaddinButtom {
    padding-bottom: 0rem !important;
}

.RatingPosition {
    float: right !important;
    margin-right: 0px !important;
}

.RigthTetx {
    text-align: right !important;
}

.Invisble {
    visibility: hidden !important;
}

.TextBold {
    font-weight: bold !important;
}
.objectStreamNoBackground {
    z-index: 0 !important;
}

/*.sapMTitle {*/


/*    margin-top: 0.8rem !important;*/


/*}*/